<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate" />
    {%- match title %}
    {% when Some with (title) %}
    <title>{{ title }}</title>
    {% when None %}
    {% endmatch -%}
    <script>
      const SLIDES = {{ slides.len() }};
      let current = 0;
      window.location.hash = '0';
      document.addEventListener("keydown", function(event) {
        let next = current;
        switch (event.key) {
          case " ":
          case "ArrowDown":
          case "ArrowRight":
          case "Enter":
            next += 1;
            break;
          case "ArrowLeft":
          case "ArrowUp":
            next -= 1;
            break;
          }

        if (next < 0 || next + 1 > SLIDES) {
          return;
        }

        window.location.hash = next;

        current = next;
      });
    </script>
    <style>
      html {
        font-size: 200%;
      }

      * {
        margin: 0;
      }

      section {
        background-color: white;
        bottom: 2em;
        left: 2em;
        position: absolute;
        right: 2em;
        top: 2em;
        z-index: 0;
      }

      section:target {
        z-index: 1;
      }
    </style>
    <link rel="stylesheet" href="index.css">
    <script src="index.js" defer></script>
  </head>
  <body>
    {%- for slide in slides %}
    <section id="{{ loop.index0 }}">
      {{ slide|indent(6) }}
    </section>
    {%- endfor %}
  </body>
</html>
